.page-my-page-guidance-list {
  .main {
    section.detail-content {
      display: none;
      border-top: 1px solid #cccccc;

      div {
        font-size: 14px;
      }

      div.flex__center__stretch {
        border-bottom: 1px solid #cccccc;
      }

      .left {
        flex: 1;
        padding: 20px;
        background: #f9fafa;
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        font-weight: bold;
      }

      .right {
        flex: 5;
        padding: 20px;
        border-right: 1px solid #cccccc;

        #map {
          height: 300px;
        }
      }
    }

    .section-top {
      img {
        width: 20px;
        height: auto;
      }

      button {
        padding: 5px 10px;
        border: 1px solid #595959;
        border-radius: 3px;
        font-size: 16px;
        font-weight: bold;
        display: none;
      }
    }

    h1.title {
      font-size: 28px;
      font-weight: bold;
      margin: 40px 0;
    }

    .filter {
      flex: 1;
      margin-right: 50px;
      border: 1px solid #cccccc;

      div, button {
        width: 100%;
        padding: 10px 20px;
        background: #f9fafa;
        border-bottom: 1px solid #cccccc;
      }

      button {
        padding-right: 5px;
      }

      div:nth-child(1) {
        padding: 20px 20px 10px 20px;
      }

      div:last-child {
        padding: 20px;
        border-bottom: none;
      }

      div.active {
        background: #eceded;
      }

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }

      img {
        width: 20px;
        height: auto;
      }
    }

    #login_my_page_profile_container {
      flex: 4;

      .content {
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          border-bottom: 1px solid #e7e7e7;
        }

        input:focus {
          border: none;
          border-bottom: 1px solid #e7e7e7;
          box-shadow: none;
        }

        .div-input {
          display: flex;
          justify-content: space-between;
          width: 82%;
        }

        .div-input.div {
          input {
            width: 45% !important;
          }
        }

        .content_items {
          background: #f5f6f7;
          padding: 20px 20px 40px;

          .content_item {
            display: flex;
            flex-direction: row;
            width: 100%;

            .content_item_title {
              padding: 10px;
              width: 18%;
              font-weight: bold;
              font-size: 15px;
            }

            .content_item_value {
              padding: 10px;
              width: 100%;
              font-size: 14px;
              font-weight: normal;
            }
          }
        }
      }

      .save_section {
        display: flex;
        justify-content: center;
        width: 100%;

        .content_header_btn {
          border: 1px solid #8d8d8d;
          padding: 4px 20px;
          border-radius: 3px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .pen_icon {
            width: 20px;
            height: 20px;
            background: url('../images/mypage_profile/pen_icon.png') no-repeat;
            background-size: contain;
            margin-right: 5px;
          }

          .header_btn_text {
            text-align: center;
            font-weight: bold;
            font-size: 17px;
          }
        }
      }

      .section-success {
        background: #f5f6f7;
        padding: 80px 0;
        h3 {
          font-size: 26px;
          font-weight: bold;
        }
        button {
          font-size: 20px;
          padding: 20px 80px;
          margin-top: 50px;
          background: #cccccc;
          color: #fff;
        }
      }
    }
  }
}