.my-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px; }

.sp-content {
  display: none; }

p {
  font-size: 12px; }

#up-to-top {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 300px;
  height: 20px;
  width: 20px;
  padding: 20px;
  background: #202020;
  z-index: 9999; }
  #up-to-top img {
    width: 15px;
    height: auto; }
  #up-to-top p {
    color: #fff;
    font-weight: bold; }

.section-breadcrumb {
  margin: 100px 0; }
  .section-breadcrumb .my-container .link-page {
    padding: 0 20px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }
  .section-breadcrumb .my-container img {
    width: 20px;
    height: auto;
    margin: 20px 5px; }
  .section-breadcrumb .my-container a {
    font-size: 16px; }
  .section-breadcrumb .my-container a.active {
    text-decoration: underline; }

.my-container-child {
  max-width: 1024px;
  background: #fff;
  margin: 0 auto; }

@media only screen and (max-width: 1300px) {
  .btnx2 .btn {
    font-size: 12px !important; }
  .btnx2 .btn-left {
    padding-top: 6px !important;
    background-position: 30px !important;
    background-size: 30px !important; }
    .btnx2 .btn-left:hover {
      background-size: 30px !important;
      background: url("../images/btn-icon-1.png") no-repeat 30px, -webkit-linear-gradient(to right, #125691, #1F7B9C) !important;
      background: url("../images/btn-icon-1.png") no-repeat 30px, linear-gradient(to right, #125691, #1F7B9C) !important; } }

@media only screen and (max-width: 1150px) {
  .btnx2 .btn {
    font-size: 10px !important; }
  .btnx2 .btn-right {
    background-size: 40px !important; }
    .btnx2 .btn-right:hover {
      background-size: 40px !important;
      background: url("../images/book.png") no-repeat 40px, -webkit-linear-gradient(to right, #125691, #1F7B9C) !important;
      background: url("../images/book.png") no-repeat 40px, linear-gradient(to right, #125691, #1F7B9C) !important; } }

@media only screen and (max-width: 1000px) {
  .btnx2 .btn-left {
    background-position: 20px !important;
    background-size: 20px !important; }
    .btnx2 .btn-left:hover {
      background-size: 20px !important;
      background: url("../images/btn-icon-1.png") no-repeat 10px, -webkit-linear-gradient(to right, #125691, #1F7B9C) !important;
      background: url("../images/btn-icon-1.png") no-repeat 10px, linear-gradient(to right, #125691, #1F7B9C) !important; }
  .btnx2 .btn-right {
    background-size: 25px !important; }
    .btnx2 .btn-right:hover {
      background-size: 25px !important;
      background: url("../images/book.png") no-repeat 25px, -webkit-linear-gradient(to right, #125691, #1F7B9C) !important;
      background: url("../images/book.png") no-repeat 25px, linear-gradient(to right, #125691, #1F7B9C) !important; } }
