@charset "UTF-8";
.page-guidance-list .page_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 2%;
  margin: 0 auto; }
  .page-guidance-list .page_modal .page_modal_content {
    background-color: #fefefe;
    margin: auto;
    width: 80%;
    border-radius: 5px; }
  .page-guidance-list .page_modal .page_modal_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: #cccccc solid 1px;
    padding: 20px; }
  .page-guidance-list .page_modal .modal_back_btn {
    background-size: 30px;
    background: url("../images/icon-back.png") no-repeat;
    width: 20%; }
  .page-guidance-list .page_modal .modal_close_btn {
    background-size: 30px;
    background: url("../images/icon-close1.png") no-repeat;
    width: 22px;
    background-size: contain; }
  .page-guidance-list .page_modal .modal_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 77%; }
  .page-guidance-list .page_modal .search_checkbox_results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center; }
  .page-guidance-list .page_modal .search_checkbox_result_item {
    border-radius: 3px;
    border: #cccccc solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px 10px 0;
    padding: 5px;
    align-items: center; }
  .page-guidance-list .page_modal .search_checkbox_result_item_delete_btn {
    background: url("../images/icon-close.png") no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px; }
  .page-guidance-list .page_modal .search_checkbox_result_item_content {
    font-size: 12px;
    margin-right: 15px;
    line-height: 1.5; }
  .page-guidance-list .page_modal .search_checkbox_result_item_conrfirm_btn {
    background-color: #878787;
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; }
  .page-guidance-list .page_modal .page_modal_container {
    width: 100%; }
  .page-guidance-list .page_modal .modal_content {
    display: flex;
    flex-direction: row;
    border-top: #cccccc solid 1px;
    border-bottom: #cccccc solid 1px;
    width: 100%; }
    .page-guidance-list .page_modal .modal_content .options_list {
      padding: 20px;
      display: flex;
      flex-direction: column;
      border-right: #cccccc solid 1px;
      width: 25%; }
      .page-guidance-list .page_modal .modal_content .options_list .option_item_btn {
        width: 100%;
        text-align: start;
        background-color: #f3f4f5;
        margin-bottom: 7px;
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 3px; }
      .page-guidance-list .page_modal .modal_content .options_list .option_item_btn_selected {
        background-color: #c9cdd1 !important; }
    .page-guidance-list .page_modal .modal_content .option_item_values {
      padding: 20px;
      display: flex;
      flex-direction: column; }
      .page-guidance-list .page_modal .modal_content .option_item_values ol {
        padding-left: 10px; }
      .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item {
        padding-bottom: 10px; }
        .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area {
          position: relative;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          display: -ms-inline-flexbox;
          display: -webkit-inline-flex; }
          .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area .checkbox-default-input {
            display: inline-flex;
            width: 20px;
            height: 20px; }
            .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area .checkbox-default-input:checked + ::after {
              background-color: #19a4b9;
              border-color: #fff; }
            .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area .checkbox-default-input:checked + ::before {
              background-color: #19a4b9;
              border-color: #19a4b9; }
            .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area .checkbox-default-input:focus {
              box-shadow: none;
              border-radius: 3px; }
          .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area .option_item_value_label_text {
            font-size: 12px;
            padding-left: 10px; }
            .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area .option_item_value_label_text:before {
              position: absolute;
              content: "";
              width: 20px;
              height: 20px;
              left: 0;
              top: 0;
              display: block;
              border: 1px solid #d5d5d5;
              border-radius: 3px; }
            .page-guidance-list .page_modal .modal_content .option_item_values .option_item_value_item .checkbox-default-area .option_item_value_label_text:after {
              position: absolute;
              content: "";
              border-bottom: 2px solid #d5d5d5;
              border-right: 2px solid #d5d5d5;
              height: 11px;
              left: 7px;
              top: 3px;
              transform: rotate(40deg);
              width: 5px; }
  .page-guidance-list .page_modal .modal_footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 20px 40px 20px;
    border-top: 1px solid #ccc; }
    .page-guidance-list .page_modal .modal_footer .result {
      width: 30%; }
      .page-guidance-list .page_modal .modal_footer .result img {
        width: 66px;
        height: auto;
        margin-right: 10px; }
      .page-guidance-list .page_modal .modal_footer .result .number-result {
        font-size: 30px;
        color: #b14f3a;
        margin-right: 20px;
        line-height: 1;
        font-weight: bold; }
        .page-guidance-list .page_modal .modal_footer .result .number-result span {
          font-size: 18px;
          color: #454545;
          font-weight: normal; }
      .page-guidance-list .page_modal .modal_footer .result .result-text {
        font-size: 18px;
        color: #5d5d5d; }
    .page-guidance-list .page_modal .modal_footer .modal_footer_btns {
      width: 50%;
      display: flex;
      flex-direction: row; }
      .page-guidance-list .page_modal .modal_footer .modal_footer_btns .footer_btn {
        font-size: 12px;
        border-radius: 3px; }
      .page-guidance-list .page_modal .modal_footer .modal_footer_btns .footer_btn_delete {
        padding: 10px;
        border: #cccccc solid 1px; }
      .page-guidance-list .page_modal .modal_footer .modal_footer_btns .footer_btn_select {
        padding: 10px 50px;
        background: linear-gradient(to left, #1e7b9c, #166394);
        margin: 0 10px;
        color: #fff; }
      .page-guidance-list .page_modal .modal_footer .modal_footer_btns .footer_btn_add_cond {
        padding: 10px;
        background-color: #f2f2f2;
        border: #cccccc solid 1px; }

.page-guidance-list .page-search-term-date {
  margin: 0 auto;
  color: #191919;
  background: #FFFFFF;
  position: relative;
  /* .add-event-btn:hover, .add.event-btn:focus{
    background: #00258e;
    box-shadow: 0px -1px 2px rgba(3,2,2,0.2);
  } */ }
  .page-guidance-list .page-search-term-date .calendar {
    padding: 20px 40px 0px 40px; }
  .page-guidance-list .page-search-term-date .calendar__title {
    text-align: center; }
  .page-guidance-list .page-search-term-date .calendar--day-view {
    position: absolute;
    border-radius: 3px;
    top: -2.5%;
    left: -2.5%;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 3px 12px 5px rgba(2, 2, 2, 0.16);
    z-index: 2;
    overflow: hidden;
    transform: scale(0.9) translate(30px, 30px);
    opacity: 0;
    visibility: hidden;
    /*   border-radius: 5px; */
    display: none;
    align-items: flex-start;
    flex-wrap: wrap; }
  .page-guidance-list .page-search-term-date .day-view-content {
    color: #222;
    width: 100%;
    padding-top: 55px; }
  .page-guidance-list .page-search-term-date .day-highlight, .page-guidance-list .page-search-term-date .day-add-event {
    padding: 8px 10px;
    margin: 12px 15px;
    border-radius: 4px;
    background: #e7e8e8;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    font-family: "Avenir", sans-serif; }
  .page-guidance-list .page-search-term-date .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .page-guidance-list .page-search-term-date .row .qtr {
      width: 40%; }
    .page-guidance-list .page-search-term-date .row .half {
      width: 100%; }
  @media (min-width: 800px) {
    .page-guidance-list .page-search-term-date .row {
      flex-wrap: nowrap; }
      .page-guidance-list .page-search-term-date .row .half {
        width: 35%; }
      .page-guidance-list .page-search-term-date .row .qtr {
        width: 25%; } }
  .page-guidance-list .page-search-term-date .day-add-event {
    background: #04b6e2;
    color: #fff;
    padding: 16px;
    display: none;
    transform: translateY(-15px);
    opacity: 0; }
    .page-guidance-list .page-search-term-date .day-add-event[data-active="true"] {
      display: block;
      animation: popIn 250ms 1 forwards; }
  .page-guidance-list .page-search-term-date .add-event-label {
    padding: 10px 0;
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8); }
  .page-guidance-list .page-search-term-date .add-event-edit {
    display: block;
    margin: 4px 0;
    max-width: 70%;
    border-bottom: 2px solid #fff;
    font-size: 18px;
    font-weight: 800;
    color: #fff; }
  .page-guidance-list .page-search-term-date .add-event-edit--long {
    max-width: 90%; }
  .page-guidance-list .page-search-term-date input.add-event-edit {
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    font: inherit;
    color: #fff;
    font-size: 18px;
    font-weight: 800; }
  .page-guidance-list .page-search-term-date .add-event-edit--error {
    border-color: #ff5151;
    animation: shake 300ms 1 forwards; }
  .page-guidance-list .page-search-term-date input.add-event-edit--error {
    border-color: #ff5151;
    animation: shake 300ms 1 forwards; }
  .page-guidance-list .page-search-term-date input.add-event-edit::-webkit-input-placeholder {
    color: #fff; }
  .page-guidance-list .page-search-term-date input.add-event-edit:-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  .page-guidance-list .page-search-term-date input.add-event-edit::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .page-guidance-list .page-search-term-date input.add-event-edit:-ms-input-placeholder {
    color: #fff; }

@keyframes shake {
  20%, 60% {
    transform: translateX(4px); }
  40%, 80% {
    transform: translateX(-4px); } }
  .page-guidance-list .page-search-term-date .event-btn {
    padding: 3px 8px;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 65px;
    margin: 5px 0;
    text-align: center; }
  .page-guidance-list .page-search-term-date .event-btn--save {
    border-color: #fff;
    background: #74c500;
    color: #fff;
    border-color: transparent; }
    .page-guidance-list .page-search-term-date .event-btn--save:hover {
      box-shadow: 0px 2px 4px rgba(2, 2, 2, 0.2); }
  .page-guidance-list .page-search-term-date .event-btn--cancel {
    background: #ff5151;
    color: #fff;
    border-color: transparent; }
    .page-guidance-list .page-search-term-date .event-btn--cancel:hover {
      box-shadow: 0px 2px 4px rgba(2, 2, 2, 0.2); }
  .page-guidance-list .page-search-term-date .day-highlight .day-events-link {
    border-bottom: 2px solid #222;
    padding: 0;
    cursor: pointer; }
  .page-guidance-list .page-search-term-date #add-event {
    color: #04b6e2;
    border-color: #04b6e2; }
  .page-guidance-list .page-search-term-date .day-view-exit {
    position: absolute;
    top: 24px;
    line-height: 1em;
    left: 22px;
    font-size: 22px;
    color: #252525;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    cursor: pointer;
    opacity: 0;
    animation: popIn 200ms 1 forwards;
    text-transform: uppercase; }
  .page-guidance-list .page-search-term-date .day-view-date {
    position: absolute;
    top: 19px;
    right: 22px;
    text-align: right;
    font-size: 22px;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    color: #393939;
    border-bottom: 2px solid #222;
    cursor: pointer; }
  .page-guidance-list .page-search-term-date .day-inspiration-quote {
    position: absolute;
    /*   top: 90px; */
    margin-top: -40px;
    left: 10%;
    width: 80%;
    height: calc(100% - 110px);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #ddd;
    line-height: 1.1em;
    font-family: 'Avenir', sans-serif;
    z-index: -1; }
  .page-guidance-list .page-search-term-date .day-event-list-ul {
    list-style: none;
    margin: auto;
    width: 95%;
    padding: 0;
    max-height: 300px;
    overflow: auto; }
    .page-guidance-list .page-search-term-date .day-event-list-ul li {
      padding: 10px;
      margin: 10px 0;
      /*   background: #04b6e2; */
      /*   box-shadow: 0px 1px 1px  rgba(2,2,2,0.5); */
      position: relative; }
  .page-guidance-list .page-search-term-date .event-dates {
    font-weight: 800;
    font-family: 'Avenir', sans-serif;
    color: #04b6e2;
    font-size: 18px;
    text-transform: lowercase;
    /*   position: relative; */ }
    .page-guidance-list .page-search-term-date .event-dates small {
      font-size: 0.65em;
      color: #444; }
  .page-guidance-list .page-search-term-date .event-delete {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 12px;
    color: #f25656;
    cursor: pointer; }
  .page-guidance-list .page-search-term-date .event-name {
    font-size: 19px;
    font-family: 'Avenir', sans-serif;
    color: #222;
    padding: 10px;
    background: #f7f7f7;
    margin: 2px 0;
    display: block;
    text-transform: initial; }
  .page-guidance-list .page-search-term-date .calendar--day-view-active {
    animation: popIn 200ms 1 forwards;
    visibility: visible;
    display: flex;
    transition: visibility 0ms; }
  .page-guidance-list .page-search-term-date .calendar--view {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%; }
  .page-guidance-list .page-search-term-date .next-calendar {
    border-top: 1px solid #ccc;
    padding-top: 27px;
    margin-top: 20px; }
  .page-guidance-list .page-search-term-date .calendar-month-right {
    display: flex;
    justify-content: flex-end;
    width: 70%; }
    .page-guidance-list .page-search-term-date .calendar-month-right .student-request__elm-independent-item {
      width: unset;
      margin-left: 55px;
      margin-bottom: unset; }
  .page-guidance-list .page-search-term-date .cview__month {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-family: 'Avenir', sans-serif;
    color: #222;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between; }
  .page-guidance-list .page-search-term-date .cview__month-last, .page-guidance-list .page-search-term-date .cview__month-next, .page-guidance-list .page-search-term-date .cview__month-current {
    width: 33.33333%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #3B3B3B; }
  .page-guidance-list .page-search-term-date .cview__month-last:hover, .page-guidance-list .page-search-term-date .cview__month-next:hover {
    color: #3B3B3B; }
  .page-guidance-list .page-search-term-date .cview__month-current {
    font-size: 22px;
    cursor: default;
    animation: popIn 200ms 1 forwards;
    transform: translateY(20px);
    opacity: 0;
    position: relative; }
  .page-guidance-list .page-search-term-date .cview__month-reset {
    animation: none; }
  .page-guidance-list .page-search-term-date .cview__month-activate {
    animation: popIn 100ms 1 forwards; }
  .page-guidance-list .page-search-term-date .cview--spacer, .page-guidance-list .page-search-term-date .cview__header {
    width: 14.28571428571429%;
    max-width: 14.28571428571429%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    font-size: 20px;
    font-weight: 900;
    font-family: 'YuGo-Medium'; }
  .page-guidance-list .page-search-term-date .cview__header-blue, .page-guidance-list .page-search-term-date .cview--date:nth-child(7n + 6) {
    color: #083AC9; }
  .page-guidance-list .page-search-term-date .cview__header-red, .page-guidance-list .page-search-term-date .cview--date:nth-child(7n + 7) {
    color: #CC171C; }
  .page-guidance-list .page-search-term-date .cview--date {
    width: 14.28571428571429%;
    max-width: 14.28571428571429%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    font-size: 20px;
    font-family: 'YuGo-Medium';
    font-weight: 900;
    cursor: pointer; }
  .page-guidance-list .page-search-term-date .cview--date:hover {
    border: 1px solid #CCCCCC;
    padding: 19px;
    border-radius: 40px; }
  .page-guidance-list .page-search-term-date .cview--date-focus {
    border-radius: 40px;
    background-color: #19A4B9;
    color: #FFFFFF; }
  .page-guidance-list .page-search-term-date .footer {
    width: 100%;
    bottom: 50px;
    left: 0;
    position: absolute;
    font-size: 14px;
    text-align: center; }
  .page-guidance-list .page-search-term-date .footer__link {
    cursor: pointer;
    padding: 2px 5px;
    border-bottom: 1px solid #fff; }
  .page-guidance-list .page-search-term-date .calendar .btn-show-all-2 {
    width: 141px;
    height: 60px;
    background: #fff;
    letter-spacing: 0.44px;
    font-size: 22px;
    font-family: 'YuGo-Medium';
    color: #3B3B3B;
    border: 1px solid #C9CDD1;
    border-radius: 3px; }
    .page-guidance-list .page-search-term-date .calendar .btn-show-all-2 img {
      width: 30px;
      height: auto;
      background-size: contain; }
  .page-guidance-list .page-search-term-date .fix-search {
    margin: 0 auto; }
  .page-guidance-list .page-search-term-date .modal_footer {
    padding: 20px 0; }
  .page-guidance-list .page-search-term-date .modal_footer_btns .footer_btn_delete {
    padding: 14px 20px !important;
    font-size: 18px !important; }
  .page-guidance-list .page-search-term-date .modal_footer_btns .footer_btn_select {
    font-size: 18px !important;
    padding: 14px 55px !important; }

.page-guidance-list .tutorial-modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto; }
  .page-guidance-list .tutorial-modal .modal-container {
    position: relative;
    max-width: 800px; }
    .page-guidance-list .tutorial-modal .modal-container .modal_close_btn {
      cursor: pointer;
      width: 26px;
      height: auto;
      background-size: contain;
      position: absolute;
      right: 15px;
      top: 15px; }
    .page-guidance-list .tutorial-modal .modal-container .modal-content {
      padding: 30px; }
      .page-guidance-list .tutorial-modal .modal-container .modal-content .item:focus {
        outline: none; }
      .page-guidance-list .tutorial-modal .modal-container .modal-content h2.title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px; }
      .page-guidance-list .tutorial-modal .modal-container .modal-content .step {
        position: relative;
        margin-bottom: 10px; }
        .page-guidance-list .tutorial-modal .modal-container .modal-content .step img {
          width: 100px;
          height: auto; }
        .page-guidance-list .tutorial-modal .modal-container .modal-content .step p {
          position: absolute;
          left: 20px;
          top: 2px;
          font-size: 20px;
          font-weight: bold; }
      .page-guidance-list .tutorial-modal .modal-container .modal-content .slick-dots-tutorial {
        display: flex;
        justify-content: center;
        margin-top: -30px; }
        .page-guidance-list .tutorial-modal .modal-container .modal-content .slick-dots-tutorial li.slick-active button:before {
          opacity: .75;
          color: black; }
        .page-guidance-list .tutorial-modal .modal-container .modal-content .slick-dots-tutorial li {
          position: relative;
          display: inline-block;
          width: 7px;
          height: 20px;
          margin: 0 5px;
          padding: 0;
          cursor: pointer; }
          .page-guidance-list .tutorial-modal .modal-container .modal-content .slick-dots-tutorial li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent; }
          .page-guidance-list .tutorial-modal .modal-container .modal-content .slick-dots-tutorial li button:before {
            font-family: 'slick';
            font-size: 30px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            content: '•';
            text-align: center;
            opacity: .25;
            color: black;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
