.page-guidance-list .top-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 110px;
  padding: 0 45px; }
  .page-guidance-list .top-section .title {
    font-size: 36px;
    color: #191919;
    line-height: 1; }
  .page-guidance-list .top-section .btn-reset {
    height: 50px;
    font-size: 20px;
    color: #343434;
    border-radius: 3px;
    border: 1px solid #595959;
    width: 200px; }
    .page-guidance-list .top-section .btn-reset img {
      width: 22px;
      height: 24px; }

.page-guidance-list .search-options {
  width: 100%;
  background: #f3f3f3;
  height: auto;
  padding: 40px 0; }
  .page-guidance-list .search-options .options-group-items {
    width: 100%;
    max-width: 1055px;
    margin-right: 35px; }
    .page-guidance-list .search-options .options-group-items .group-selectbox .selectbox-items {
      width: calc((100% - 120px) / 4); }
      .page-guidance-list .search-options .options-group-items .group-selectbox .selectbox-items .title {
        font-size: 18px;
        position: relative;
        padding-left: 30px;
        color: #333333;
        margin-bottom: 4px; }
        .page-guidance-list .search-options .options-group-items .group-selectbox .selectbox-items .title:after {
          position: absolute;
          content: "";
          height: 1px;
          width: 14px;
          background: rgba(0, 0, 0, 0.5);
          left: 0;
          top: calc(50% - 2px); }
      .page-guidance-list .search-options .options-group-items .group-selectbox .selectbox-items .selectbox {
        height: 40px;
        width: 100%;
        border: 1px solid #cccccc;
        border-width: 1px 1px 2px 1px;
        font-size: 16px;
        color: #636363;
        border-radius: 3px;
        transition: all 0.4s ease;
        padding-left: 15px;
        cursor: pointer;
        background: #fff; }
        .page-guidance-list .search-options .options-group-items .group-selectbox .selectbox-items .selectbox:hover {
          background: #dedede; }
      .page-guidance-list .search-options .options-group-items .group-selectbox .selectbox-items .btn-primary {
        height: 40px;
        width: 100%;
        border: 1px solid #cccccc;
        border-width: 1px 1px 2px 1px;
        font-size: 10px;
        color: #19a4b9;
        border-radius: 3px;
        transition: all 0.4s ease;
        background: #fff;
        padding-left: 0;
        cursor: pointer; }
        .page-guidance-list .search-options .options-group-items .group-selectbox .selectbox-items .btn-primary:hover {
          background: #dedede; }
    .page-guidance-list .search-options .options-group-items .group-selectbox .icon-times {
      width: 40px;
      height: 42px;
      font-size: 28px; }
    .page-guidance-list .search-options .options-group-items .group-input .title {
      font-size: 18px;
      position: relative;
      padding-left: 30px;
      color: #333333;
      margin-bottom: 4px; }
      .page-guidance-list .search-options .options-group-items .group-input .title:after {
        position: absolute;
        content: "";
        height: 1px;
        width: 14px;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        top: calc(50% - 2px); }
    .page-guidance-list .search-options .options-group-items .group-input .form-input {
      width: 100%;
      border: 1px solid #ccc;
      height: 40px;
      position: relative;
      background: #fff;
      border-radius: 3px; }
      .page-guidance-list .search-options .options-group-items .group-input .form-input .icon {
        height: 100%;
        width: 65px; }
        .page-guidance-list .search-options .options-group-items .group-input .form-input .icon img {
          height: 20px;
          width: 21px; }
      .page-guidance-list .search-options .options-group-items .group-input .form-input input {
        border: 0;
        width: calc(100% - 80px);
        font-size: 15px;
        color: #636363;
        padding-left: 10px;
        height: 40px; }
        .page-guidance-list .search-options .options-group-items .group-input .form-input input:focus {
          outline: none;
          box-shadow: none; }
        .page-guidance-list .search-options .options-group-items .group-input .form-input input::placeholder {
          font-size: 15px;
          color: #636363; }
  .page-guidance-list .search-options .btn-search {
    height: 113px;
    width: 258px;
    background: linear-gradient(to left, #1e7b9c, #166394);
    font-size: 32px;
    color: #fff;
    border-radius: 5px; }
    .page-guidance-list .search-options .btn-search img {
      height: 40px;
      width: 43px;
      margin-right: 20px; }

.page-guidance-list .result-pagination {
  width: 100%;
  max-width: 1440px;
  height: 90px;
  margin: 0 auto;
  padding: 0 40px; }
  .page-guidance-list .result-pagination .result {
    height: 90px; }
    .page-guidance-list .result-pagination .result img {
      width: 66px;
      height: 29px;
      margin-right: 10px; }
    .page-guidance-list .result-pagination .result .number-result {
      font-size: 40px;
      color: #b14f3a;
      margin-right: 20px;
      line-height: 1; }
      .page-guidance-list .result-pagination .result .number-result span {
        font-size: 18px;
        color: #454545; }
    .page-guidance-list .result-pagination .result .result-text {
      font-size: 18px;
      color: #5d5d5d; }
  .page-guidance-list .result-pagination .pagination .pagi-items {
    height: 34px;
    width: 34px;
    border: 1px solid #ccc;
    border-width: 1px 2px 2px 1px;
    margin-right: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.4s ease;
    border-radius: 5px;
    cursor: pointer; }
    .page-guidance-list .result-pagination .pagination .pagi-items:hover, .page-guidance-list .result-pagination .pagination .pagi-items.active {
      background: #b14f3a;
      color: #fff; }
    .page-guidance-list .result-pagination .pagination .pagi-items.text {
      font-size: 11px; }
  .page-guidance-list .result-pagination .pagination .more {
    width: 34px;
    height: 34px;
    color: #454545;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -10px;
    font-size: 30px;
    line-height: 1; }

.page-guidance-list .menu-lever-2 {
  width: 100%;
  height: 75px;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #b3b3b3;
  background: #f3f3f3; }
  .page-guidance-list .menu-lever-2 .menu-list {
    width: 100%;
    height: 75px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px; }
    .page-guidance-list .menu-lever-2 .menu-list .menu2-items {
      height: 100%;
      padding: 0 40px;
      position: relative;
      font-size: 18px;
      color: #191919;
      margin-right: 20px; }
      .page-guidance-list .menu-lever-2 .menu-list .menu2-items .sp {
        display: none; }
      .page-guidance-list .menu-lever-2 .menu-list .menu2-items::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 0%;
        background: #454545;
        left: 0;
        bottom: 2px;
        transition: all 0.4s ease; }
      .page-guidance-list .menu-lever-2 .menu-list .menu2-items.active::after, .page-guidance-list .menu-lever-2 .menu-list .menu2-items:hover::after {
        width: 100%; }

.page-guidance-list .group-list-items .wrap-item {
  background-color: #E7EAEB;
  width: 100%;
  margin-top: 39px; }
  .page-guidance-list .group-list-items .wrap-item .item {
    position: relative;
    width: 100%;
    padding: 41px 51px 41px 46px; }
    .page-guidance-list .group-list-items .wrap-item .item .img-item {
      display: flex;
      justify-content: space-between;
      margin: 0 auto 50px;
      margin: 0 auto 50px; }
    .page-guidance-list .group-list-items .wrap-item .item .bookmark {
      position: absolute;
      right: 51px;
      top: -15px;
      width: 50px;
      height: auto;
      background-size: cover; }
      .page-guidance-list .group-list-items .wrap-item .item .bookmark button {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
    .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img {
      width: 55%;
      height: 420px; }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img img {
        background-size: contain; }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img .btnx2 {
        width: 70%;
        margin: -36px auto 0; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img .btnx2 .btn {
          height: 76px;
          border: 1px solid;
          width: 50%;
          font-size: 20px; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img .btnx2 .btn-left {
          background-color: #fff;
          background-image: url("../images/btn-icon-1.png");
          background-repeat: no-repeat;
          background-position: 45px;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          background-size: 30px;
          letter-spacing: 0.48px;
          text-align: center;
          border: 1px solid #DCDCDC;
          padding-top: 8px; }
          .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img .btnx2 .btn-left:hover {
            padding-top: 8px;
            color: #fff;
            background-size: 30px;
            background: url("../images/btn-icon-1.png") no-repeat 45px, -webkit-linear-gradient(to right, #125691, #1F7B9C);
            /* Chrome 10-25, Safari 5.1-6 */
            background: url("../images/btn-icon-1.png") no-repeat 45px, linear-gradient(to right, #125691, #1F7B9C);
            /* background-position: 30px; */ }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img .btnx2 .btn-right {
          background-color: #fff;
          background-image: url("../images/book.png");
          background-repeat: no-repeat;
          background-position: 40px;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          background-size: 50px;
          letter-spacing: 0.48px;
          text-align: end;
          padding-right: 7%;
          margin-left: -4px;
          border: 1px solid #DCDCDC; }
          .page-guidance-list .group-list-items .wrap-item .item .img-item .left-img .btnx2 .btn-right:hover {
            background: #1a2980;
            /* fallback for old browsers */
            background: url("../images/book.png") no-repeat 50px, -webkit-linear-gradient(to right, #125691, #1F7B9C);
            /* Chrome 10-25, Safari 5.1-6 */
            background: url("../images/book.png") no-repeat 50px, linear-gradient(to right, #125691, #1F7B9C); }
    .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img {
      width: 55%;
      margin-left: -5%;
      margin-top: 3%;
      background-color: #fff;
      padding: 33px; }
      @media only screen and (max-width: 1050px) {
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .title {
          font-size: 25px !important; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .content {
          font-size: 12px !important; } }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .title {
        font-size: 30px;
        letter-spacing: 1.2px;
        font-weight: bold;
        margin-bottom: 10px; }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .content {
        font-size: 18px; }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .extend {
        margin-top: 15px;
        display: flex;
        float: right; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .extend p {
          color: #19a4b9;
          font-size: 14px; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .extend img {
          width: 14px;
          height: 7px;
          margin-top: 6px; }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .mid-right {
        display: flex;
        margin-top: 41px; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .mid-right img {
          background-size: contain;
          width: 88px;
          height: 88px;
          border: 1px solid #DCDCDC;
          padding: 18px;
          margin-right: 20px; }
        @media only screen and (max-width: 1150px) {
          .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .mid-right img {
            width: 73px;
            height: 73px;
            padding: 12px; } }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .mid-right .mig-right-right {
          margin-top: -8px; }
          .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .mid-right .mig-right-right p {
            font-size: 30px;
            letter-spacing: 1.2px;
            font-weight: bold;
            margin-bottom: 19px; }
          @media only screen and (max-width: 1150px) {
            .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .mid-right .mig-right-right p {
              font-size: 20px !important; } }
          .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .mid-right .mig-right-right button {
            font-size: 12px;
            letter-spacing: 0.6px;
            border: 1px solid #DCDCDC;
            padding: 4px 15px;
            border-radius: 5px; }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .address {
        display: flex;
        margin-top: 16px; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .address img {
          width: 20px;
          background-size: contain;
          margin-right: 20px; }
        @media only screen and (max-width: 1050px) {
          .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .address p {
            font-size: 12px !important; } }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .address p {
          font-size: 18px;
          letter-spacing: 0.24px; }
      .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .tag {
        display: flex;
        margin-top: 15px; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .tag img {
          width: 23px;
          margin-right: 18px;
          background-size: contain;
          margin-top: 5px; }
        .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .tag .tag-right {
          display: flex;
          justify-content: space-around; }
          .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .tag .tag-right button {
            border: 1px solid #ccc;
            font-size: 15px;
            border-radius: 15px;
            margin-right: 10px;
            padding: 3px 20px;
            white-space: nowrap; }
          @media only screen and (max-width: 1000px) {
            .page-guidance-list .group-list-items .wrap-item .item .img-item .right-img .tag .tag-right button {
              font-size: 12px !important; } }
  .page-guidance-list .group-list-items .wrap-item .total {
    border: 1px solid red;
    height: 100px; }

/*  */
/* .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 button{
    height: 30px;

  } */
/* Tablet */
.sp-content {
  display: none; }

@media only screen and (max-width: 1300px) {
  .page-guidance-list .group-list-items .item .img-item .right-img .content {
    font-size: 15px; }
  .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-left {
    font-size: 15px;
    padding-top: 5px;
    background-position: 45px;
    background-size: 23px; }
    .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-left:hover {
      background-size: 23px;
      background: url("../images/btn-icon-1.png") no-repeat 45px, -webkit-linear-gradient(to right, #125691, #1F7B9C);
      /* Chrome 10-25, Safari 5.1-6 */
      background: url("../images/btn-icon-1.png") no-repeat 45px, linear-gradient(to right, #125691, #1F7B9C);
      /* background-position: 30px; */ }
  .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-right {
    font-size: 15px;
    background-position: 40px;
    background-size: 37px; }
    .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-right:hover {
      background-size: 37px;
      background: url("../images/book.png") no-repeat 40px, -webkit-linear-gradient(to right, #125691, #1F7B9C);
      background: url("../images/book.png") no-repeat 40px, linear-gradient(to right, #125691, #1F7B9C); } }

@media only screen and (max-width: 1200px) {
  .page-guidance-list .group-list-items .item .img-item .right-img .mid-right .mig-right-right p {
    font-size: 25px; }
  .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-left {
    font-size: 13px;
    padding-top: 5px;
    background-position: 35px;
    background-size: 20px; }
    .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-left:hover {
      background-size: 20px;
      background: url("../images/btn-icon-1.png") no-repeat 35px, -webkit-linear-gradient(to right, #125691, #1F7B9C);
      /* Chrome 10-25, Safari 5.1-6 */
      background: url("../images/btn-icon-1.png") no-repeat 35px, linear-gradient(to right, #125691, #1F7B9C);
      /* background-position: 30px; */ }
  .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-right {
    font-size: 13px;
    background-position: 30px;
    background-size: 30px; }
    .page-guidance-list .group-list-items .item .img-item .left-img .btnx2 .btn-right:hover {
      background-size: 30px;
      background: url("../images/book.png") no-repeat 30px, -webkit-linear-gradient(to right, #125691, #1F7B9C);
      background: url("../images/book.png") no-repeat 30px, linear-gradient(to right, #125691, #1F7B9C); } }

@media only screen and (max-width: 1050px) {
  .page-guidance-list .group-list-items .item .img-item .right-img .mid-right .mig-right-right p {
    font-size: 20px; }
  .page-guidance-list .group-list-items .item .img-item .right-img .tag .tag-right button {
    font-size: 12px; } }

@media only screen and (max-width: 1280px) {
  .page-guidance-list .result-pagination {
    height: auto;
    padding: 15px 40px;
    flex-direction: column; }
    .page-guidance-list .result-pagination .result {
      width: 100%; }
  .pagination {
    width: 100%; } }

@media only screen and (max-width: 767px) {
  .page-guidance-list .result-pagination {
    padding: 0 40px; }
    .page-guidance-list .result-pagination .pagination {
      display: none; }
    .page-guidance-list .result-pagination .result {
      justify-content: space-between; }
      .page-guidance-list .result-pagination .result .number-result {
        font-size: 38px; }
        .page-guidance-list .result-pagination .result .number-result span {
          font-size: 16px; }
  .page-guidance-list .menu-lever-2 .menu-list {
    justify-content: space-between; }
    .page-guidance-list .menu-lever-2 .menu-list .menu2-items {
      padding: 0 25px;
      margin-right: 0; }
      .page-guidance-list .menu-lever-2 .menu-list .menu2-items .sp {
        display: block; }
      .page-guidance-list .menu-lever-2 .menu-list .menu2-items .pc {
        display: none; }
  .page-guidance-list .top-section {
    height: 90px; }
    .page-guidance-list .top-section .title {
      font-size: 28px; }
    .page-guidance-list .top-section .btn-reset {
      height: 40px;
      font-size: 16px;
      width: 150px; }
  .page-guidance-list .result-pagination .result img {
    width: 50px;
    height: auto; }
  .page-guidance-list .search-options {
    display: none; } }

@media only screen and (max-width: 415px) {
  .page-guidance-list .result-pagination {
    padding: 0 15px; }
    .page-guidance-list .result-pagination .result .number-result {
      font-size: 28px; }
      .page-guidance-list .result-pagination .result .number-result span {
        font-size: 14px; }
    .page-guidance-list .result-pagination .result .result-text {
      font-size: 16px; }
  .page-guidance-list .menu-lever-2 {
    height: 55px; }
    .page-guidance-list .menu-lever-2 .menu-list {
      padding: 0 15px;
      height: 55px; }
      .page-guidance-list .menu-lever-2 .menu-list .menu2-items {
        padding: 0 15px; }
  .page-guidance-list .top-section {
    padding: 0 15px;
    height: 60px; }
  .page-guidance-list .result-pagination .result {
    height: 60px; }
  .page-guidance-list .top-section .title {
    font-size: 24px; }
  .page-guidance-list .top-section .btn-reset {
    height: 40px;
    font-size: 16px;
    width: 150px; }
  .page-guidance-list .result-pagination .result img {
    width: 40px;
    height: auto; } }
