.page-my-page-guidance-list .main section.detail-content {
  display: none;
  border-top: 1px solid #cccccc; }
  .page-my-page-guidance-list .main section.detail-content div {
    font-size: 14px; }
  .page-my-page-guidance-list .main section.detail-content div.flex__center__stretch {
    border-bottom: 1px solid #cccccc; }
  .page-my-page-guidance-list .main section.detail-content .left {
    flex: 1;
    padding: 20px;
    background: #f9fafa;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    font-weight: bold; }
  .page-my-page-guidance-list .main section.detail-content .right {
    flex: 5;
    padding: 20px;
    border-right: 1px solid #cccccc; }
    .page-my-page-guidance-list .main section.detail-content .right #map {
      height: 300px; }

.page-my-page-guidance-list .main .section-top img {
  width: 20px;
  height: auto; }

.page-my-page-guidance-list .main .section-top button {
  padding: 5px 10px;
  border: 1px solid #595959;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  display: none; }

.page-my-page-guidance-list .main h1.title {
  font-size: 28px;
  font-weight: bold;
  margin: 40px 0; }

.page-my-page-guidance-list .main .filter {
  flex: 1;
  margin-right: 50px;
  border: 1px solid #cccccc; }
  .page-my-page-guidance-list .main .filter div, .page-my-page-guidance-list .main .filter button {
    width: 100%;
    padding: 10px 20px;
    background: #f9fafa;
    border-bottom: 1px solid #cccccc; }
  .page-my-page-guidance-list .main .filter button {
    padding-right: 5px; }
  .page-my-page-guidance-list .main .filter div:nth-child(1) {
    padding: 20px 20px 10px 20px; }
  .page-my-page-guidance-list .main .filter div:last-child {
    padding: 20px;
    border-bottom: none; }
  .page-my-page-guidance-list .main .filter div.active {
    background: #eceded; }
  .page-my-page-guidance-list .main .filter h3 {
    font-size: 20px; }
  .page-my-page-guidance-list .main .filter p {
    font-size: 16px; }
  .page-my-page-guidance-list .main .filter img {
    width: 20px;
    height: auto; }

.page-my-page-guidance-list .main #mypage_profile_container {
  flex: 4; }
  .page-my-page-guidance-list .main #mypage_profile_container .content {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .page-my-page-guidance-list .main #mypage_profile_container .content .content_header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px; }
      .page-my-page-guidance-list .main #mypage_profile_container .content .content_header:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(to bottom, #4b8fae, #0f517c); }
      .page-my-page-guidance-list .main #mypage_profile_container .content .content_header .content_header_text {
        font-size: 20px;
        font-weight: bold;
        padding: 5px 10px; }
      .page-my-page-guidance-list .main #mypage_profile_container .content .content_header .content_header_btn {
        border: 1px solid #8d8d8d;
        padding: 4px 20px;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .page-my-page-guidance-list .main #mypage_profile_container .content .content_header .content_header_btn .pen_icon {
          width: 20px;
          height: 20px;
          background: url("../images/mypage_profile/pen_icon.png") no-repeat;
          background-size: contain;
          margin-right: 5px; }
        .page-my-page-guidance-list .main #mypage_profile_container .content .content_header .content_header_btn .header_btn_text {
          text-align: center;
          font-weight: bold;
          font-size: 17px; }
    .page-my-page-guidance-list .main #mypage_profile_container .content .content_items .content_item {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-top: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7; }
      .page-my-page-guidance-list .main #mypage_profile_container .content .content_items .content_item .content_item_title {
        padding: 10px;
        background-color: #f5f6f7;
        width: 20%;
        font-weight: bold;
        font-size: 15px; }
      .page-my-page-guidance-list .main #mypage_profile_container .content .content_items .content_item .content_item_value {
        padding: 10px;
        width: 100%;
        font-size: 14px;
        font-weight: normal; }
    .page-my-page-guidance-list .main #mypage_profile_container .content .content_items .content_item:first-child {
      border-top: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7; }
    .page-my-page-guidance-list .main #mypage_profile_container .content .content_items .content_item:last-child {
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7; }
  .page-my-page-guidance-list .main #mypage_profile_container .save_section {
    display: flex;
    justify-content: center;
    width: 100%; }
    .page-my-page-guidance-list .main #mypage_profile_container .save_section .save_btn {
      width: 30%;
      border: 1px solid #aeaeae;
      border-radius: 3px;
      padding: 10px;
      font-weight: bold;
      font-size: 15px; }
